<div class="row">
  <div class="col s6 m6">
    <div class="card blue-grey darken-1 sign-up-form">
      <div class="card-content white-text">
        <span class="card-title">Name: <%= @student.name %></span>
        <p>Email: <%= @student.email %></p>
        <br>
        <% if current_user == @student %>
          <%= link_to '<i class="material-icons right">create</i>Edit your profile'.html_safe, edit_student_path(@student), class: "waves-effect waves-light btn-small" %>
        <% end %>
      </div>
    </div>
    <% if @student.courses.empty? %>
     <p>Course Enrollments: None</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Teacher Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @student.courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.teacher.formal_name %></td>
            <td><%= link_to 'Remove', student_course_path(course_id: course.id), method: :delete, class: 'waves-effect waves-light yellow darken-4 btn-small' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>